.popup__heading {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .02em;
  line-height: 24px;
}

.popup__heading:hover {
  border-bottom: 0.5px solid white;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .popup__heading {
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 24px;
    margin: 25px 22px 0;
  }
}
