.popup__heading {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.popup__heading:hover {
  border-bottom: 0.5px solid white;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 0;
  }
}
