.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 697px;
  z-index: 2;
  justify-content: center;
  /* margin-bottom: 80px; */
  margin-left: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card__text-container {
    width: 373px;
  }
}

/* Mobile version */
@media (max-width: 767px) {
  .card__text-container {
    width: 100%;
    flex: none;
    flex-grow: 0;
    order: 1;
  }
}
