.looks-section__card-list {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-auto-rows: 436px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

/* Tablet version */
@media (min-width: 768px) and (max-width: 1023px) {
  .looks-section__card-list {
    grid-auto-rows: 303px;
    grid-template-columns: repeat(3,244px);
  }
  .looks-section__card-list>*:nth-child(n+7) {
    display: none;
    /* Hide cards 7 and 8 */
  }
}

/* Mobile version */
@media (max-width: 767px) {
  .looks-section__card-list {
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 174px;
    margin-top: 20px;
  }
}
