.about-section__card-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 80px;
  grid-template-rows: minmax(453px, 875px) minmax(304px, 618px) minmax(607px, 1095px);
  margin-top: 80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-section__card-list {
    align-items: center;
    grid-template-rows: 623px 430px 780px;
    margin-top: 40px;
    gap: 10px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .about-section__card-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}
