.card__image_first {
  grid-column: 2;
  grid-row: 1/5;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card__image_first {
    max-width: 364px;
  }
}

@media (max-width: 767px) {
  .card__image_first {
    max-width: 280px;
  }
}
