.card__text {
  width: 697px;
  z-index: 2;
  margin-bottom: 80px;
  margin-left: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card__text {
    width: 373px;
    margin-bottom: 0;
  }
}

/* Mobile version */
@media (max-width: 767px) {
  .card__text {
    margin-bottom: 0;
    max-width: 280px;
  }
}
