.looks-section__card {
  grid-template-columns: 350px;
}

/* Tablet version */
@media (min-width: 768px) and (max-width: 1023px) {
  .looks-section__card {
    grid-template-columns: 244px;
  }
}

/* Mobile version */
@media (max-width: 767px) {
  .looks-section__card {
    grid-template-columns: 140px;
  }
}
